# Welcome to Pandas

### Pandas Datatypes: Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a','b','c']
my_data = [1,2,3]
arr = np.array(my_data)
d = {'x': 'Abscissa', 'y': 'Ordinate', 'z': '3rd dimension'}

In [3]:
series = pd.Series(d)
series1 = pd.Series(labels, my_data)
series2 = pd.Series(my_data)

In [4]:
series2 + 2

0    3
1    4
2    5
dtype: int64

### Pandas Datatypes: DataFrames

In [5]:
np.random.seed(101)
df = pd.DataFrame(np.random.randn(5,4), ['a','b','c','d','e'], ['w', 'x', 'y', 'z'])
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [6]:
# Selecting a column
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [7]:
# Selecting multiple columns
df[['x','y']]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077
c  0.740122  0.528813
d -0.758872 -0.933237
e  1.978757  2.605967

In [8]:
# Creating anew column from an arithemethic operation
df['Avg of x-y'] = (df['x'] + df['y']) / 2

In [9]:
df

          w         x         y         z  Avg of x-y
a  2.706850  0.628133  0.907969  0.503826    0.768051
b  0.651118 -0.319318 -0.848077  0.605965   -0.583698
c -2.018168  0.740122  0.528813 -0.589001    0.634468
d  0.188695 -0.758872 -0.933237  0.955057   -0.846055
e  0.190794  1.978757  2.605967  0.683509    2.292362

In [10]:
# Permanently deleting a column
df.drop('x', axis=1,inplace=True)

In [11]:
df

          w         y         z  Avg of x-y
a  2.706850  0.907969  0.503826    0.768051
b  0.651118 -0.848077  0.605965   -0.583698
c -2.018168  0.528813 -0.589001    0.634468
d  0.188695 -0.933237  0.955057   -0.846055
e  0.190794  2.605967  0.683509    2.292362

In [12]:
df['x'] = (df['Avg of x-y'] * 2) - df['y']

In [13]:
df

          w         y         z  Avg of x-y         x
a  2.706850  0.907969  0.503826    0.768051  0.628133
b  0.651118 -0.848077  0.605965   -0.583698 -0.319318
c -2.018168  0.528813 -0.589001    0.634468  0.740122
d  0.188695 -0.933237  0.955057   -0.846055 -0.758872
e  0.190794  2.605967  0.683509    2.292362  1.978757

In [14]:
# Grabbing row a
df.loc['a']

w             2.706850
y             0.907969
z             0.503826
Avg of x-y    0.768051
x             0.628133
Name: a, dtype: float64

In [15]:
# grabbing data at row a, col w
df.loc['a', 'w']

2.706849839399938

In [16]:
# Dataframe block of rows ab and cols wx
df.loc[['a','b'], ['w','x']]

          w         x
a  2.706850  0.628133
b  0.651118 -0.319318

In [17]:
# conditionals with dataframes where only values > 0 are returned with the rest being null
df[df > 0]

          w         y         z  Avg of x-y         x
a  2.706850  0.907969  0.503826    0.768051  0.628133
b  0.651118       NaN  0.605965         NaN       NaN
c       NaN  0.528813       NaN    0.634468  0.740122
d  0.188695       NaN  0.955057         NaN       NaN
e  0.190794  2.605967  0.683509    2.292362  1.978757

In [18]:
# Returns a df only with rows that have their col y values > 0
df[df['y'] > 0]

          w         y         z  Avg of x-y         x
a  2.706850  0.907969  0.503826    0.768051  0.628133
c -2.018168  0.528813 -0.589001    0.634468  0.740122
e  0.190794  2.605967  0.683509    2.292362  1.978757

In [19]:
df.reset_index()

  index         w         y         z  Avg of x-y         x
0     a  2.706850  0.907969  0.503826    0.768051  0.628133
1     b  0.651118 -0.848077  0.605965   -0.583698 -0.319318
2     c -2.018168  0.528813 -0.589001    0.634468  0.740122
3     d  0.188695 -0.933237  0.955057   -0.846055 -0.758872
4     e  0.190794  2.605967  0.683509    2.292362  1.978757

In [24]:
df['states'] = 'ABI ANA IMO ENU EBO'.split()
df.set_index('states', inplace=True)

In [25]:
df.loc['ABI']

w             2.706850
y             0.907969
z             0.503826
Avg of x-y    0.768051
x             0.628133
Name: ABI, dtype: float64