# Data import and export with pandas
Data can be used in pandas with .csv, .xlsx, sql and html files through web scraping.
To work with html and sql, Some libraries need to be installed.
- sqlalchemy
- lxml
- html5lib
- BeautifulSoup4
- xlrd (For Excel)

In [1]:
import pandas as pd

In [2]:
# Reading csvs
df = pd.read_csv('../datasets/fur_color_count.csv')

In [3]:
# index=False is used to omit the auto generated index column
df.to_csv('../datasets/output', index=False)

In [4]:
# Importing excel files is almost the same but note that it cnnot import images, formulas and macros
# Pd sees each work sheet in an excel workbook  as a df hence, sheetname needs to be specified
df_xlsx = pd.read_excel('../datasets/data_excel.xlsx', sheet_name='Sheet1')
df_xlsx

        Club  played  won  drew  lost
0   Man City       6    5     1     0
1    Chelsea       6    5     1     0
2    Arsenal       6    4     0     2
3  Liverpool       6    4     1     1
4      Man U       6    4     1     1
5  Tottenham       6    3     2     1

In [6]:
df_xlsx['Points'] = (df_xlsx['won'] * 3) + (df_xlsx['drew'])
df_xlsx

        Club  played  won  drew  lost  Points
0   Man City       6    5     1     0      16
1    Chelsea       6    5     1     0      16
2    Arsenal       6    4     0     2      12
3  Liverpool       6    4     1     1      13
4      Man U       6    4     1     1      13
5  Tottenham       6    3     2     1      11

In [7]:
df.to_excel('../datasets/sample_xlsx.xlsx', sheet_name='NewSheet')

In [ ]:
# Reading html with pandas. (Failed bank data)
df_html = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')
# Usually returns a list of all table elements on the website. Then one has to cycle through the list to find the df needed. In this case...
df_html[0]

In [8]:
# Working with sql
from sqlalchemy import create_engine

In [9]:
engine = create_engine('sqlite:///:memory:')

In [10]:
df_xlsx.to_sql('../datasets/sqlite', engine)

6